:root {
    --main-black-color: #212121;
    --main--color: #757575;
    --main-grayblack-color: #FFFFFF;
    --main-white-color: #2196F3;
    --main-blue-color: #000000;
    --main-black-color: #2F303A;
    --main-gray-color: #FFFFFF;
    --main-white-color: #ECECEC;
    --main-white-color: #F5F4FA;
}

.logo {
    font-family: "Raleway", sans-serif ;
    
}
body {
 font-family: "Roboto";

}

