:root {
    --main-black-color: #212121;
    --main--color: #757575;
    --main-grayblack-color: #FFFFFF;
    --main-white-color: #2196F3;
    --main-blue-color: #000000;
    --main-black-color: #2F303A;
    --main-gray-color: #FFFFFF;
    --main-white-color: #ECECEC;
    --main-white-color: #F5F4FA;
}

.logo {
    font-family: "Raleway", sans-serif ;
    
}
body {
 font-family: "Roboto";
 font-size: 16px;

}
section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.hero_title {
  line-height: 1.3;
  width: 696px;
  font-size: 44px;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.hero_button {
  line-height: 1.8;
  width: 216px ;
  height: 50px;
}
.Features_item_title {
  line-height: 1.4;
  width: 270px;
  height: 16px;
}
.Features_item_text {
  line-height: 1.7;
}
.services_title {
  line-height: 3.6;
}
.team_title {
  line-height: 3.6;
}
.team_number_name {
  line-height: 1.6;
}
.team_number_role {
  line-height: 1.6;
}
.logo {
  line-height: 2.6;
}
.address {
  line-height: 1.5;
}


